html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #323332;
  color: #ffffff;
  margin: 0;
  height: 100%;
  width: 100%;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #feff51;
}
.raleway {
  font-family: Raleway;
}
.pacifico {
  font-family: Pacifico;
}
.light-blue {
  color: #10c0ee;
}
.yellow {
  color: #feff51;
}
.row {
  width: 100% !important;
}
.rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.nav {
  background-color: #414141;
  height: 100%;
  width: 20%;
  position: fixed;
}
.nav li {
  display: inline-block;
  width: auto;
  margin-right: 20px;
}
.nav .footer {
  font-size: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.nav .footer span {
  font-family: Pacifico;
  color: #865F93;
}
.content {
  width: 80%;
  margin-left: 20%;
  min-height: 100%;
}
.mainTitle {
  font-size: 30px;
  text-align: center;
}
.main-board {
  text-align: center;
}
.main-board span[class^="icon-"],
.main-board span[class^="icon_"] {
  font-size: 140px;
}
.main-board a {
  color: inherit;
}
.main-board a:hover {
  color: #7CB7E0;
}
section.infos + section.main-board {
  margin-top: 50px;
}
.infos {
  text-align: center;
}
.infos .list {
  text-align: left;
}
.infos h2 {
  color: #818181;
}
.infos p {
  font-weight: 200;
}
.infos .type {
  font-weight: 400;
  color: #7CB7E0;
}
section.framework {
  font-size: 2em;
}
section.framework span {
  display: block;
}
section.framework .error {
  color: #A53734;
}
section.framework .warning {
  color: #D8DB4A;
}
section.framework .valid {
  color: #60A158;
}
section.requirements p {
  margin-top: 0;
}
section.requirements div {
  padding: 20px;
}
section.requirements span {
  display: block;
}
section.requirements .error {
  color: #A53734;
}
section.requirements .warning {
  color: #D8DB4A;
}
section.requirements .valid {
  color: #60A158;
}
.php {
  color: #8892BF;
}
.server {
  color: #818181;
}
.symfony {
  color: #000000;
}
.majesteel {
  color: #7CB7E0;
}
